.news-container{
    height: 60vh;
    background-color: #fcf5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-title{
    font-size: 50px;
    margin-bottom: 15px;
}

.news-desc{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.news-input{
    outline: none;
    border: none;
    flex: 8;
    padding-right: 10px;
}

.news-button{
    margin-top: 3px;
    color: black;
    padding: 5px;
}

.news-send-form{
    padding: 0px 15px;
    width: 310px;
    height: 40px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (min-width: 0px) and (max-width: 767px){
    .news-container{
        height: 50vh;
    }
    .news-title{
        font-size: 24px;
    }
    .news-desc{
        font-size: 14px;
        width: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .news-container{
        height: 35vh;
    }
    .news-title{
        font-size: 35px;
    }
    .news-desc{
        font-size: 24px;
        width: 500px;
    }
}